<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <ExcludeByFile>**/obj/**/*.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
          <Thresholds>
            <Threshold>
              <Metric>line</Metric>
              <Threshold>70</Threshold>
              <AverageForTarget>true</AverageForTarget>
            </Threshold>
          </Thresholds>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
